h3 Добавьте устройство
= form_tag add_device_path, method: 'post'
  = label_tag :code, 'Код устройства'
  = text_field_tag :code
  = submit_tag 'Добавить'

- if @devices.present?
  h3 Мои устройства:
  table
    thead
      th Модель
      th Мак
      th Использовалось
    tbody
      - @devices.each do |device|
        tr
          td= device.model
          td= device.mac
          td= device.last_used_at