.nav-block
  ul.nav-block-links
    - if current_user
      li= link_to 'Личный кабинет', authenticated_root_path
      li= link_to 'Выйти', destroy_user_session_path, method: 'delete'
    - else
      li= link_to 'Войти', new_user_session_path
      li= link_to 'Зарегистрироваться', new_user_registration_path
