doctype 5
html
  head
    title Test Project
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    header= render 'layouts/nav'
    main= yield
